<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:57855;databaseName=TPB</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="current_session_context_class">thread</property>
    <!--        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>-->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <!-- Quan tri he thong -->
    <mapping class="entity.Account"/>
    <mapping class="entity.Taikhoan"/>
  </session-factory>
</hibernate-configuration>
